[package]
name = "jfs"
version = "0.7.0"
authors = ["Markus Kohlhase <mail@markus-kohlhase.de>"]
license = "MIT/Apache-2.0"
homepage = "https://github.com/flosse/rust-json-file-store"
repository = "https://github.com/flosse/rust-json-file-store"
documentation = "https://docs.rs/crate/jfs/"
description = "A JSON file store"
readme = "README.md"
keywords = ["json", "file", "store", "db", "database"]
categories = ["database"]
edition = "2018"

[dependencies]
log = "0.4"
fs2 = "0.4"
uuid = { version = "0.8", features = ["v4"] }
serde = "1"
serde_json = "1"

[dev-dependencies]
serde_derive = { version = "1" }
tempdir = "0.3"

[badges]
travis-ci = { repository = "flosse/rust-json-file-store" }
maintenance = { status = "actively-developed" }
